@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.row:before,
.row:after {
    display: inline-block !important
}

sectin,
article {
    width: 100%;
    display: block;
}

/*========|Menu Css Start|===========*/
#navigation .navbar-nav li a {
    font-size: 1.4em;
    color: #fff;
    transition: color .3s ease-in-out;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

#navigation .navbar-nav li a:hover {
    color: #ffc107;
}

#navigation .navbar-nav .dropdown-menu a {
    color: #000;
    font-size: 1em;
}

#navigation .navbar-nav .dropdown-menu {
    min-width: 215px;
}

#navigation .navbar-light .navbar-toggler {
    top: -35px;
    right: 0;
}

/*========|Menu Css End|===========*/
.modal-body svg {
    color: #f19e14;
    width: 180px
}

#exampleModal .btn-primary {
    position: absolute;
    bottom: -7%;
    left: 13%;
    width: 75%;
    font-size: 21px;
    border-radius: 25px
}

#expandwrap {
    transition: all .3s;
    display: none
}

:root {
    --borderWidth: 7px;
    --height: 24px;
    --width: 12px;
    --borderColor: #78b13f
}

#logo a {
    margin-top: 10px;
    display: block
}

#logo img {
    height: 40px !important
}

.header-top {
    background-color: #193a89;
    padding: 7px 0
}

.body-part {
    background-color: aliceblue
}

.ad-title {
    margin: 10px 0;
    padding: 10px 0;
    color: rgb(22, 21, 21)
}

.ad-title span {
    color: #193a89
}

.ad-text {
    text-align: left;
    color: #808080
}

.ad-text span {
    color: rgba(0, 0, 0, .2);
    width: 100%
}

.title {
    color: #193a89;
    margin: 10px 0 2px 0;
    padding: 0 0
}

.paragraph-text {
    text-align: justify;
    color: #252653
}

.footer {
    margin-top: 0 !important;
    background: #193a89;
    padding: 10px 0
}

.footer-bottom {
    background: rgb(22, 21, 21);
    padding: 10px 0
}

.footer-bottom p {
    text-align: center;
    color: rgb(175, 172, 172);
    margin: 0
}

.footer-list-menu ul {
    padding: 10px 5px;
    margin: 0
}

.footer-list-menu ul li {
    list-style-type: none;
    border-bottom: 1px solid #21459c
}

.footer-list-menu ul li a {
    display: inline-block;
    padding: 5px 10px;
    text-align: left;
    font-size: 14px;
    color: #fff;
    font-weight: 600
}

.footer-list-menu h3 {
    margin-top: 10px;
    color: #b0c8ff
}

.footer-list-menu ul li a:hover {
    color: #b0c8ff
}

.social-ast {
    margin: 10px 0 10px 0;
    padding: 0;
    text-align: center;
    color: #fff
}

.social-ast p {
    text-align: right;
    font-size: 35px;
    margin: 0
}

.social-div {
    padding: 6px;
    border: 1px solid #ccc;
    width: 35px;
    height: 35px;
    display: inline block;
    margin-right: 4px;
    float: left
}

.social-ast a {
    line-height: 17px;
    padding: 6px
}

.social-ast a:hover {
    color: #fff
}

.social-ast a.facebook {
    color: rgb(9, 9, 126)
}

.social-ast a.twitter {
    color: #1da1f2
}

.social-ast a.youtube {
    color: #cd201f
}

.social-ast a.facebook:hover,
.social-ast a.twitter:hover,
.social-ast a.youtube:hover {
    color: #56b8f5
}

.svg-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
    margin-top: 5px
}

.svg-icon:hover {
    fill: #6891f1
}

.fixed-bottom {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
    z-index: 100
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s
}

/*--------News Section CSS Start---------*/
#news-desktop {
    display: block;
}

#news-mobile {
    display: none;
}

.news-card .card-title {
    margin: 0;
    color: #21469c;
    margin-bottom: 7px;
    font-weight: 700;
}

.news-card .card-title span {
    border-left: 5px solid rgb(230, 230, 230);
    padding-bottom: 3px;
    padding-left: 10px;
}

.news-date {
    position: absolute;
    right: 0;
    top: 0px;
    color: aliceblue;
    padding: 5px;
    background-color: #21469c9d;
}

.news-card .card-body:hover {
    background-color: #efefef;
}

.news-card .card-body p a {
    color: #000;
    font-size: 0.9em;
    text-align: left;
}

.news-card .card-body p a:hover {
    text-decoration: none;
}

#news-mobile .t-s-t {
    vertical-align: top
}

#news-mobile .t-s-t p {
    text-align: left;
    margin: 0;
    padding-left: 10px;
    width: 100%;
    font-size: 13px;
}

#news-mobile .t-s-t p a {
    color: #000;
    width: 89%;
    float: left;
    text-align: justify;

}


#news-mobile .t-s-t .w-80 {
    width: 100%;
    box-sizing: border-box;
    text-align: left;
    position: relative;
    padding-right: 80px !important;
    float: left;
}

#news-mobile .t-s-t .w-80 img {
    position: absolute;
    right: 5px;
    top: 5px;
    height: 65px;
    border-radius: 5px;
}

#news-mobile .article-wraper {
    width: 100%;
    float: left;
    height: auto;
    background-color: #fff;
}

#news-mobile .article-wraper .shadow {
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    -moz-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow: 3px 3px 5px 6px #ccc;
}

#news-mobile .article-wraper h6 {
    font-weight: 700;
    color: #042c8c;
    padding-left: 5px;
    font-size: 14px;
    margin-bottom: 5px;
}

#news-mobile .article-wraper h6 span {
    border-bottom: 1px solid #efefef;
}

/*--------News Section CSS End---------*/

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@media only screen and (max-width:300px) {

    .prev,
    .next,
    .text {
        font-size: 11px
    }
}

@media screen and (max-width:992px) {
    .container1 .progress-bar {
        width: 300px !important
    }

    #section .form-group {
        min-height: 32vh
    }

    #section {
        min-height: 46vh !important
    }
}

@media screen and (max-width:650px) {
    .container1 .progress-bar {
        width: 300px !important;
        margin-top: 10px
    }

    #section {
        min-height: 46vh !important
    }

    .img-ad-1,
    .img-ad-2 {
        width: 120px !important;
        margin-top: 6px
    }

    .ad-heading {
        margin: 7px 0 0 7px !important;
        font-size: 16px !important
    }

    .container1 {
        padding-top: 56% !important
    }

    #section .form-group {
        min-height: 36vh !important
    }

    .container1 .progress-bar {
        width: 300px !important;
        margin-top: 10px !important
    }

    #section {
        min-height: 46vh !important
    }

    #news-mobile {
        display: block !important;
    }

    #news-desktop {
        display: none !important;
    }

    #news-mobile .t-s-t .w-80 img {
        top: 8% !important
    }
}

@media screen and (max-width:375px) and (orientation:portrait) {
    #news-mobile {
        display: block !important;
    }

    #news-desktop {
        display: none !important;
    }

    #news-mobile .t-s-t .w-80 img {
        top: 15% !important
    }
}

@media screen and (max-width:414px) {
    #news-mobile {
        display: block !important;
    }

    #news-desktop {
        display: none !important;
    }
}

@media screen and (max-width:667px) {
    #news-mobile {
        display: block !important;
    }

    #news-desktop {
        display: none !important;
    }
}

@media screen and (max-width:684px) {
    body {
        min-height: 125vh !important
    }

    #news-mobile {
        display: block !important;
    }

    #news-desktop {
        display: none !important;
    }

}

@media screen and (max-width:736px) and (min-width:576px) {
    body {
        min-height: 125vh !important
    }

}

@media screen and (max-width:734px) {
    body {
        min-height: 125vh !important
    }

}

@media screen and (max-width:768px) {
    body {
        min-height: 125vh !important
    }

    #news-mobile {
        display: block !important;
    }

    #news-desktop {
        display: none !important;
    }

}

@media screen and (max-width:1024px) and (orientation:landscape) {
    #news-mobile {
        display: none !important;
    }

    #news-desktop {
        display: block !important;
    }
}