@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
:root {
    --blue: #193a89;
    --white: #ffffff;
    --red: #d32f2f;
    --black: #000;
    --black-2: rgb(80, 76, 76);
    --yellow: #ffc107;
}

html {
    scroll-behavior: smooth;
}

* {
    font-family: "Roboto", sans-serif;
}

.main-title {
    color: var(--black-2);
}

.main-title span {
    border-bottom: 1px solid var(--yellow);
}

.main-title::before {
    content: "";
    height: 1px;
    border-left: 5px solid var(--yellow);
    margin-right: 10px;
}


/*========|Menu Css Start|===========*/

#navigation .navbar-nav li a {
    font-size: 1.4em;
    color: #fff;
    transition: color 0.3s ease-in-out;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

#navigation .navbar-nav li a:hover {
    color: var(--yellow);
}

#navigation .navbar-nav .dropdown-menu a {
    color: var(--black);
    font-size: 1em;
}

#navigation .navbar-nav .dropdown-menu {
    min-width: 215px;
}

#navigation .navbar-light .navbar-toggler {
    top: -35px;
    right: 0;
}


/*========|Menu Css End|===========*/

.modal-body svg {
    color: var(--yellow);
    ;
    width: 180px;
}

#exampleModal .btn-primary {
    position: absolute;
    bottom: -7%;
    left: 13%;
    width: 75%;
    font-size: 21px;
    border-radius: 25px;
}

#expandwrap {
    transition: all 0.3s;
    display: none;
}

#logo a {
    margin-top: 10px;
    display: block;
}

#logo img {
    height: 40px !important;
}

.header-top {
    background-color: var(--blue);
    padding: 7px 0;
}

.body-part {
    background-color: aliceblue;
}

.ad-title {
    margin: 10px 0;
    padding: 10px 0;
    color: rgb(22, 21, 21);
}

.ad-title span {
    color: var(--blue);
}

.ad-text {
    text-align: left;
    color: #808080;
}

.ad-text span {
    color: rgba(0, 0, 0, 0.2);
    width: 100%;
}

.title {
    color: var(--blue);
    margin: 10px 0 2px 0;
    padding: 0 0;
}

.paragraph-text {
    text-align: justify;
    color: #252653;
}

.footer {
    margin-top: 0 !important;
    background: var(--blue);
    padding: 10px 0;
}

.footer-bottom {
    background: rgb(22, 21, 21);
    padding: 10px 0;
}

.footer-bottom p {
    text-align: center;
    color: rgb(175, 172, 172);
    margin: 0;
}

.footer-list-menu ul {
    padding: 10px 5px;
    margin: 0;
}

.footer-list-menu ul li {
    list-style-type: none;
    border-bottom: 1px solid #21459c;
}

.footer-list-menu ul li a {
    display: inline-block;
    padding: 5px 10px;
    text-align: left;
    font-size: 14px;
    color: #fff;
    font-weight: 600;
}

.footer-list-menu h3 {
    margin-top: 10px;
    color: #b0c8ff;
}

.footer-list-menu ul li a:hover {
    color: #b0c8ff;
}

.social-ast {
    margin: 10px 0 10px 0;
    padding: 0;
    text-align: center;
    color: #fff;
}

.social-ast p {
    text-align: right;
    font-size: 35px;
    margin: 0;
}

.social-div {
    padding: 6px;
    border: 1px solid #ccc;
    width: 35px;
    height: 35px;
    display: inline block;
    margin-right: 4px;
    float: left;
}

.social-ast a {
    line-height: 17px;
    padding: 6px;
}

.social-ast a:hover {
    color: #fff;
}

.social-ast a.facebook {
    color: rgb(9, 9, 126);
}

.social-ast a.twitter {
    color: #1da1f2;
}

.social-ast a.youtube {
    color: #cd201f;
}

.social-ast a.facebook:hover,
.social-ast a.twitter:hover,
.social-ast a.youtube:hover {
    color: #56b8f5;
}

.svg-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
    margin-top: 5px;
}

.svg-icon:hover {
    fill: #6891f1;
}

.fixed-bottom {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
    z-index: 100;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}


/*--------News Section CSS Start---------*/


/* #news-mobile {
    display: none !important;
  }

  #news-desktop {
    display: block !important;
  } */

.news-date {
    position: absolute;
    right: 0;
    top: 0px;
    color: aliceblue;
    padding: 5px;
    background-color: #21469c9d;
}

.news-card .card-body:hover {
    background-color: #efefef;
}

.news-card .card-body p a {
    color: var(--black);
    font-size: 0.9em;
    text-align: left;
}

.news-card .card-body p a:hover {
    text-decoration: none;
}

.article-wraper img {
    height: 70px!important;
}

.article-wraper h6 {
    font-weight: 700;
    color: #042c8c;
    padding-left: 5px;
    font-size: 14px;
    margin-bottom: 5px;
}

.article-wraper h6 span {
    border-bottom: 1px solid #efefef;
}


/*--------News Section CSS End---------*/

@-webkit-keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

@media only screen and (max-width: 300px) {
    .prev,
    .next,
    .text {
        font-size: 11px;
    }
}

@media screen and (max-width: 992px) {
    .container1 .progress-bar {
        width: 300px !important;
    }
    #section .form-group {
        min-height: 32vh;
    }
    #section {
        min-height: 46vh !important;
    }
}

@media screen and (max-width: 767px) {
    .container1 .progress-bar {
        width: 300px !important;
        margin-top: 10px;
    }
    #section {
        min-height: 46vh !important;
    }
    .img-ad-1,
    .img-ad-2 {
        width: 120px !important;
        margin-top: 6px;
    }
    .ad-heading {
        margin: 7px 0 0 7px !important;
        font-size: 16px !important;
    }
    .container1 {
        padding-top: 56% !important;
    }
    #section .form-group {
        min-height: 36vh !important;
    }
    .container1 .progress-bar {
        width: 300px !important;
        margin-top: 10px !important;
    }
    #section {
        min-height: 46vh !important;
    }
    #news-mobile {
        display: block !important;
    }
    #news-desktop {
        display: none !important;
    }
}


/* @media screen and (max-width: 375px) and (orientation: portrait) {
  #news-mobile {
    display: block !important;
  }

  #news-desktop {
    display: none !important;
  }

  #news-mobile .t-s-t .w-80 img {
    top: 15% !important;
  }
}

@media screen and (max-width: 414px) {
  #news-mobile {
    display: block !important;
  }

  #news-desktop {
    display: none !important;
  }
}

@media screen and (max-width: 667px) {
  #news-mobile {
    display: block !important;
  }

  #news-desktop {
    display: none !important;
  }
}

@media screen and (max-width: 684px) {
  body {
    min-height: 125vh !important;
  }

  #news-mobile {
    display: block !important;
  }

  #news-desktop {
    display: none !important;
  }
}

@media screen and (max-width: 736px) and (min-width: 576px) {
  body {
    min-height: 125vh !important;
  }
}

@media screen and (max-width: 734px) {
  body {
    min-height: 125vh !important;
  }
}

@media screen and (max-width: 768px) {
  body {
    min-height: 125vh !important;
  }

  #news-mobile {
    display: block !important;
  }

  #news-desktop {
    display: none !important;
  }
} */

@media screen and (max-width: 1024px) and (orientation: landscape) {
    /* #news-mobile {
    display: none !important;
  }

  #news-desktop {
    display: block !important;
  } */
}